{% extends 'inicio.html' %}
{% block titulo %}Agregar Producto{% endblock titulo %}

{% block body %}



<div id="page-content-wrapper">
    <div class="container" >
        <div class="row" >
            <div class="col-12 col-md-6 offset-md-3" >

                <div class="card" >
                    <div class="card-body" >
                        <h2>Nuevo Producto</h2>
                        <form  method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex justify-content-end" >
                            
                            
                           
                                <input type="hidden" name="next" value="{{ request.path }}">
                                
                                <button type="submit" class="btn btn-success">Crear</button>
            
                            </div>
                            
                        </form>
                        {{mensaje}}
                    </div>

                </div>
                
            </div>
            
        </div>
        
    </div>
</div>

{% endblock body %}